<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomatedTestingSuite" verbose="2">

    <test name="NavigationTests">
        <classes>
            <class name="ru.spbstu.ru.hsai.NavigationTraining1"/>
        </classes>
    </test>

    <test name="HomePageTests">
        <classes>
            <class name="ru.spbstu.ru.hsai.HomePageContentTests"/>
        </classes>
    </test>

</suite>